html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* убираем скролл */
}

.grid {
  width: 100%;
  height: 100%;
  background-image: url('background.png');
  background-size: cover; /* фон растягивается под весь экран */
  background-position: center;
  position: relative;
}

.doodler {
  width: 87px;
  height: 85px;
  background-image: url('doodler-guy.png');
  position: absolute;
}

.platform {
  width: 85px;
  height: 15px;
  background-image: url('platform.png');
  position: absolute;
}
