.grid {
    width: 400px;
    height: 600px;
    background-image: url('background.png');
    position: relative;
    font-size: 100px;
    text-align: center; 
    
  }
  
  .doodler {
    width: 75px;
    height: 73px;
    background-image: url('doodler-guy.png');
    position: absolute;
    
  }
  
  .platform {
    width: 75px;
    height: 8px;
    background-image: url('platform.png');
    position: absolute;
    
  }
